# Configurações de Desenvolvimento
RAILS_ENV=development
DATABASE_URL=postgres://postgres:password@db:5432/app_development
REDIS_URL=redis://redis:6379/1
SECRET_KEY_BASE=development_secret_key_alterar

# Configurações opcionais
# MAILER_SENDER=no-reply@dev.example.com
# AWS_ACCESS_KEY_ID=your_dev_key
# AWS_SECRET_ACCESS_KEY=your_dev_secret