# Configurações de Homologação
RAILS_ENV=homolog
DATABASE_URL=postgres://homolog_user:senha_forte@db:5432/app_homolog
REDIS_URL=redis://redis:6379/2
SECRET_KEY_BASE=homolog_secret_key_alterar
ASSET_HOST=staging.seuapp.com
RAILS_SERVE_STATIC_FILES=true

# Configurações de monitoramento
# NEW_RELIC_LICENSE_KEY=homolog_key
# SENTRY_DSN=your_homolog_sentry_dsn