# Configurações de Produção - NUNCA COMITAR VALORES REAIS!
RAILS_ENV=production
DATABASE_URL=postgres://prod_user:senha_super_forte@prod_db:5432/app_production
REDIS_URL=redis://prod_redis:6379/3
SECRET_KEY_BASE=production_secret_key_alterar
RAILS_SERVE_STATIC_FILES=true
RAILS_LOG_TO_STDOUT=true

# Segurança
# RAILS_MASTER_KEY=alterar_para_chave_real
# DATABASE_SSL=true

# Escalabilidade
# WEB_CONCURRENCY=2
# MAX_THREADS=5